:root {
    --body-bg-color: rgb(216, 231, 239);
    --text-color: #000;
    --answer-text-color: rgb(217, 8, 8);
    --primary-color: #cfdbe8;
    --answer-bg-color: rgb(255, 255, 255);
    --shadow-color: rgba(0, 0, 0, 0.5);
    --page-change-color: rgba(188, 229, 247, 0.695);
    --page-change-go-color: rgb(150, 215, 243);
}

.index-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.dark-mode {
    --body-bg-color: rgb(28, 30, 32);
    --text-color: #fff;
    --answer-text-color: rgb(237, 231, 102);
    --primary-color: #444;
    --shadow-color: rgba(255, 255, 255, 0.5);
    --page-change-color: #353e4b;
    --page-change-go-color: rgb(30 36 77);
}

.be-top {
    margin: 0 auto;
    text-align: center;
    align-self: flex-start;
}

.be-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: auto;
    flex-direction: column; /* 设置为列布局 */
}

.be-bottom {
    margin: 0 auto;
    text-align: center;
    align-self: flex-end;
}


.anti-bs-body {
    /* f*king bootstrap body background color effected me!!! */
    background-color: var(--body-bg-color);
    color: var(--text-color);
}

.navbar {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.page-change-items {
    background-color: var(--page-change-color) !important;
    color: var(--text-color) !important;
}

.page-change-go {
    background-color: var(--page-change-go-color) !important;
    color: var(--text-color) !important;
}


.question {
    margin: 20px auto;
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--shadow-color);
}

.answer {
    margin: 20px auto;
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--answer-text-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}